__pycache__/
rcdiff.egg-info/
data/
*.slurm
.slurm/
*.out
.idea/
npys/
logs/
check/
smplx/

# Native build artifacts
/rcdiff/utils/motion_metrics/contact/torch_mesh_isect/build/
/rcdiff/utils/motion_metrics/contact/torch_mesh_isect/mesh_intersection.egg-info/
*.so
*.o
smplx.zip
